::selection {
    color: var(--text-1);
    background-color: var(--secondary);
    border-radius: 2px;
}

nav a:hover svg {
    fill: var(--text-1);
}

a:hover {
    color: var(--text-1);
    background-color: var(--secondary);
}